<!-- Footer Begins Here -->
<footer class="footer" id="footerid">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 ">
        <h1 class="text-capitalize">aboutUs</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rerum reiciendis, corrupti vel enim
          doloremque maxime recusandae deleniti, autem reprehenderit laudantium praesentium ducimus blanditiis
          repudiandae. Quidem quos ex ipsam ipsum?</p>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center links">
        <h1 class="text-capitalize">navLinks</h1>
        <li><a href="#"> Home </a></li>
        <li><a href="#bengaliid"> Bengali </a></li>
        <li><a href="#hindiid"> Hindi </a></li>
        <li><a href="#englishid"> English </a></li>
      </div>
      <div class="col-lg-4 col-md-12 col-12 ">
        <h1>Newsletter</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque pariatur, similique neque eaque ullam eum
          doloremque, ipsa ex deleniti nihil fugit! Nesciunt molestias et ab quasi magnam voluptas modi facilis.</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control newsinput" placeholder="Your Email"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <a href=""><span class="input-group-text" id="basic-addon2">Send</span></a>
          </div>
        </div>
        </div>
      </div>
    <div class="scrolltop float-right">
      <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
    </div>
  </div>
</footer>
<!-- Footer Ends Here -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
  integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
  integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  $('.count').counterUp({
    delay: 6,
    time: 1000
  });
  button = document.getElementById('myBtn');
  window.onscroll = function () { scrollFucntion() };
  function scrollFucntion() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      button.style.display = 'block';
    }
    else {
      button.style.display = 'none';
    }

  }
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    button.style.transition = '0.9s ease';
  }
</script>
</body>

</html>